/* Mobile Style Sheet Optimized for Iphone X */

.gridLayout
{
  width: 100%;
  height: 90vh;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  display: grid;
  grid-template-areas:  "hea hea hea"
                        "nav nav nav"
                        "main main main"
                        "foo foo foo";

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;

}
.gridLayout header
{
  grid-area: hea;
  background-color: lightgray;
  margin-top: -5vh
}

.gridLayout main
{
  grid-area: main;
  background-color: lightblue;
}

.link {
  text-align: center;
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 30px;
	line-height: 1;
	color: white;
	display: inline-block;
}
.link--kukuri {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
	color: #b2b0a9;
}

.link--kukuri:hover {
	color: #b2b0a9;
}

.link--kukuri::after {
	content: '';
	position: absolute;gi
	height: 16px;
	width: 50%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
	transform: translate3d(100%,0,0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}
h4
{
color: white;
font-family: sans-serif;
text-align: center;
font-size: 40px;
width: 480px;

}

#SB
{
  width: -10px;
  height: -50px;
  float: right;
}

h1
{
  text-decoration: underline;
  position: absolute;
  right: -325px;
  color: #B38A4C;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
}

h6
{
  position: absolute;
  right: -325px;
  color: white;
  font-size: 29px;
  width: 280px;
}
