.gridLayout
{
  width: 100%;
  height: 90vh;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  display: grid;
  grid-template-areas:  "hea hea hea"
                        "nav nav nav"
                        "main main main"
                        "foo foo foo";

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;

}
.gridLayout header
{
  grid-area: hea;
  background-color: white;
  margin-top: -5vh
}
.gridLayout nav
{
  grid-area: nav;
  background-color: white;
}
.gridLayout main
{
  grid-area: main;
  background-color: white;
}
.gridLayout footer
{
  grid-area: foo;
  background-color: lightgray;
}
.SmallGridB
{
  width: 90%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.smallGridB div p
{
  font-size: 14px;
  padding: 25px;
}
.box3
{
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: red;
}

h1
{
  color: Red;
  font-family: monospace;
  font-size: 50px;
  margin: auto;
  color: #222;
  text-shadow: 0px 2px 3px #555;
}
#list
{
  text-align: center;
}
#cookie
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
#Egg
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.containerA
{
  text-align: center;
  font-family: cursive;
  margin: auto;
  padding: 10px;
  background-color: #DE3163;
  width: 35%;
  box-shadow: 6px 7px 1px 2px #ededed;
  border-radius: 50px;
}
.containerB
{
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  background-color: lightblue;
  width: 25%;
  box-shadow: 6px 7px 1px 2px #ededed;
  border-radius: 50px;
}
.containerC
{
  margin: auto;
  text-align: center;
  font-family: cursive;
  padding: 10px;
  background-color: yellow;
  width: 25%;
  box-shadow: 6px 7px 1px 2px #ededed;
  border-radius: 50px;
}
.container2
{
  margin: auto;
  background-color: lightgrey;
  width: 90%;
  box-shadow: 6px 7px 1px 2px #ededed;
  border-radius: 20px;
  text-align: center;

}
.Wstyle
{
  font-family: fantasy;
  color: #DE3163;
  font-size: 22px;
}


#cssmenu {
  background: #f96e5b;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }

  .container
  {
    margin: auto;
    padding: 20px;
    background-color: white;
    width: 90%;
    box-shadow: 6px 7px 5px 2px #ededed;
    border-radius: 20px;
  }
